@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	src: local(""), url("../fonts/rubik-v20-latin-regular.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/rubik-v20-latin-regular.woff") format("woff");
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 500;
	src: local(""), url("../fonts/rubik-v20-latin-500.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/rubik-v20-latin-500.woff") format("woff");
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

body {
	font-family: "Rubik", sans-serif;
}

html {
	scroll-behavior: smooth;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

/* Header */

.site-header {
	margin-bottom: 40px;
}

.header-top {
	padding: 30px 0;
	background-color: #f6f6f6;
}

.inner-header-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.header-right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-right: auto;
}

.header-link {
	padding: 9px 6px 8px;
	display: inline-block;
	background: #ffffff;
	border-radius: 7px;
	margin-right: 35px;
}

.header-right-money {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.header-right-money p:first-child {
	margin-right: 25px;
}

.header-right-money span {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #2959ce;
}

.header-left {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.header-left img {
	margin: 0 6px 0 15px;
	position: absolute;
	color: #a6a6a6;
}

.header-input {
	padding: 13px 140px 12px 40px;
	border: none;
	margin-right: 25px;
	background: #ffffff;
	border-radius: 60px;
}

.change-language-box {
	margin-right: 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: #dce6ff;
	border-radius: 39px;
}

.change-language {
	padding: 0px 3px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-weight: 400;
	font-size: 13px;
	line-height: 15px;
}

.change-language:hover p {
	background-color: #fff;
	border-radius: 50%;
	cursor: pointer;
	color: black;
}

.change-language-box:hover span {
	background-color: transparent;
	color: #a6a6a6;
}

.change-language-box span {
	width: 30px;
	height: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: #fff;
	border-radius: 50%;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.change-language-box p {
	margin: 3px 0 3px;
	padding: 8px;
	color: #a6a6a6;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.header-btn {
	padding: 13px 20px;
	display: inline-block;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #ffffff;
	background: #7296ec;
	border-radius: 10px;
	text-decoration: none;
	border: 1px solid #7296ec;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.header-btn:hover {
	background-color: #fff;
	color: #7296ec;
}

.navbar-list {
	padding: 30px 0 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	border-bottom: 1px solid #d1d1d1;
	list-style: none;
}

.navbar-item a {
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #7f7f7f;
	text-decoration: none;
}

.navbar-item {
	border-bottom: 2px solid transparent;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.navbar-item:hover {
	border-bottom: 2px solid black;
}

.aside {
	margin-bottom: 50px;
}

.aside a {
	display: inline-block;
}

.aside img {
	width: 100%;
}

/* Main  */

.info {
	margin-bottom: 100px;
}

.info__title {
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	color: #000000;
}

.info__content {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

.info__form {
	width: 696px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.input__wrapper {
	display: flex;
	gap: 10px;
	width: 100%;
}

.info input {
	width: 100%;
	padding: 18px 20px;
	background: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.info textarea {
	margin-bottom: 10px;
	padding: 18px 20px;
	background: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	opacity: 0.5;
}

.info button {
	align-self: flex-end;
	width: 145px;
	padding: 17px 30px;
	display: inline-block;
	font-weight: 500;
	border: none;
	font-size: 16px;
	line-height: 19px;
	color: #ffffff;
	background: #7297ef;
	border-radius: 10px;
 border: 1px solid #7296ec;
}

.info button:hover {
	background-color: #fff;
	color: #7296ec;
}

.info__form-content {
 padding: 40px 26px;
	width: 464px;
	background: #f6f6f6;
	border-radius: 10px;
 display: flex;
	align-self: flex-start;
 flex-direction: column;
 gap: 20px;
}

.info__pochta-wrapper {
 border-bottom: 1px solid #D2D2D2;
}

.info__pochta-wrapper:nth-child(3){
 border: none    ;
}

.info-form__title {
 margin-bottom: 6px;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
}

.info-form-text {
 margin-bottom: 22px;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}

/* Footer */

.site-footer {
	background: #7297ef;
	padding: 40px 0;
}

.footer__logo-link {
	display: inline-block;
	margin-bottom: 15px;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: #fff;
}

.footer__content-center {
	padding-bottom: 30px;
	border-bottom: 2px solid #cecece;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.center__text-wrapper {
	margin-right: 203px;
	width: 229px;
	font-weight: 400;
	font-size: 12px;
	line-height: 19px;
	color: #ffffff;
}

.center__list-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.center__list:nth-child(1) {
	margin-right: 100px;
}

.center__list-wrapper p {
	font-weight: 400;
	font-size: 12px;
	line-height: 19px;
	color: #ffffff;
}

.center__list {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
}

.center__item a {
	color: #ffffff;
}

.center__item + .center__item {
	margin-top: 20px;
}

.footer__bottom {
	padding-top: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.footer__subtitle-wrapper h2 {
	font-weight: 500;
	font-style: 18px;
	line-height: 23px;
	color: #ffffff;
}

.footer__social-links a {
	display: inline-block;
}

a + a {
	margin-left: 25px;
}
